/* all */
body {
    line-height: 1.5;
    font-family: 'Nunito Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul {
    font-size: 0;
}

ul li {
    font-size: 32px;
}

.bold {
    font-weight: bold;

}

.border-right {
    border-right: 1px solid #dee2e6 !important;
    padding-right: 10px;
}

.container {
    margin: auto;
    padding: 0 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
}

.header {
    background-color: #000;
    position: relative;
}

.header .header-logo {
    background-color: #fff;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-logo .logo {
    padding: 20px 0;

    display: block;
    /* margin: 0 auto; */
    padding-left: 30px;
}

.info {
    display: flex;
    gap: 20px;
}

.header .nav {
    padding: 0 15px;
}

.header .logo a {
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}

.header .nav {}

.header .nav ul li {
    display: inline-block;
    /* margin-left: 40px; */
}

.header .nav ul li a {
    display: block;
    font-size: 18px;
    padding: 22px 20px;
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;
    transform: all 0.5s ease;
    letter-spacing: 3px;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
    color: #000;
    background-color: #5cdb95;
}

.header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #000;
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0px;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}


/* slide */
#slideshow {
    overflow: hidden;
    height: 920px;
    width: 100%;
    margin: 0 auto;
}

.slide-wrapper {
    width: 400%;
    -webkit-animation: slide 14s ease infinite;
}

.slide {
    float: left;
    height: 920px;
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .over-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


}

.small-text {
    font-size: 28px;
}

.big-text {
    font-size: 46px;
    font-weight: bold;
}

.btn-group {
    margin-top: 15px;
}

.button-orange {
    background-color: #5cdb95;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.button-orange:hover {
    background-color: rgb(59, 201, 106);
}

.button-green {
    background-color: #41b3a3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.button-green:hover {
    background-color: #41b3a3;
}

/* price-home */
.container-price {
    padding: 60px 0px;
}

.container-price p {
    text-align: center;
}

.header-table-orange {
    background-color: #41b3a3;
}

.header-table-green {
    background-color: #c38d9e;
}

table {
    border: 1px solid rgb(202, 202, 202);
    border-collapse: collapse;
    border-spacing: 0px;
}

th {
    color: white;
}

td {
    text-align: center;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -100%;
    }

    50% {
        margin-left: -100%;
    }

    60% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    80% {
        margin-left: -300%;
    }

    90% {
        margin-left: -300%;
    }
}

/* Service home */
.background-gray {
    background-color: #f2f2f4;
}

.container-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
}

.text-header-service {
    font-size: 26px;
    color: #41b3a3;
    font-weight: bold;
    letter-spacing: 4px;
}

.text-header-service-2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3.5px;

}

.text-header-service-2 span {
    color: #5cdb95;
}

.box-container-service {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px;
}

.box-service {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px 40px;
    gap: 10px;
}

.box-service p {
    text-align: center;
}

/* About us */
.container-small {
    max-width: 1170px;
    margin: 0 auto;
}

.text-large {
    font-size: 42px;
    font-weight: bold;
}

.color-orange {
    color: #5cdb95;
}

.color-green {
    color: #41b3a3;
}

.container-aboutus {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

}

.aboutus-detail {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aboutus-images {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.aboutus-images .full {
    width: 100%;
}

.aboutus-images {
    width: 100%;
    position: relative;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

}

.image-movement {
    position: absolute;
    transition: .5s all;

}

.image-movement img {
    border-radius: 20px;
    height: 100%;
}

.image-movement-1 {
    width: 34%;
    right: 200px;
    z-index: 2;
    animation: move1 4s linear infinite alternate;
    bottom: 0px;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.image-movement-2 {
    width: 33%;
    right: 0;
    animation: move2 3.6s linear infinite alternate;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    bottom: 20px;
}

@keyframes move1 {
    0% {
        -webkit-transform: translatey(0);
    }

    50% {
        -webkit-transform: translatey(-20px);
    }

    100% {
        -webkit-transform: translatey(0);
    }
}

@keyframes move2 {
    0% {
        -webkit-transform: translatey(0);
    }

    50% {
        -webkit-transform: translatey(-20px);
    }

    100% {
        -webkit-transform: translatey(0);
    }
}

.aboutus-images img {
    width: 100%;
    height: 100%;
}

.box-check {
    display: flex;
    gap: 10px;
}

/* Choose us  */

.container-chooseus {
    display: flex;
    gap: 40px;
}

.chooseus-image {
    width: 40%;
}

.chooseus-image img {
    width: 100%;
    object-fit: cover;
}

.chooseus-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.features {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0px;
}

.box-features {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}

/* Team member */
.team-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxs-info-member {
    display: flex;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
}

.box-info {
    width: 23%;
    overflow: hidden;
}

.box-info img {
    width: 100%;
}

.detail {
    position: relative;
    height: 100px;
}

.box-info .detail .name-position {
    background-color: #f2f2f4;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    transition: .5s;

}

.box-info .detail .social-network {
    width: 100%;
    bottom: -100px;
    position: absolute;
    height: 100px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    transition: .5s;

}

.contain-img {
    display: flex;
    z-index: 9999;
    position: relative;
}

.social-network {
    gap: 10px;
}

.social-link {
    width: 40px;
    height: 40px;
    border: 1px #5cdb95 solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.box-info:hover .name-position {
    bottom: 100px;
}

.box-info:hover .social-network {
    bottom: 0px;
}



/* contact */
.form-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.form-contact input {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    transition: .5s all;
}

.form-contact textarea {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    transition: .5s all;
}

.form-contact input:focus {
    border: 1px solid #5cdb95;
    box-shadow: 2px 2px #5cdb95;
}

.form-contact textarea:focus {
    border: 1px solid #5cdb95;
    box-shadow: 2px 2px #5cdb95;
}



/* footer */
.backgroud-footer {
    background-color: #000;
    padding: 80px 20px;

}

footer {
    color: white;
}

.footer-container {
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}

.footer-container>div {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 1s all;
    cursor: pointer;

}

.box-footer .text-large {
    font-size: 20px;
}

.box-footer:hover p {
    color: #5cdb95;
}

.logo-footer {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

@media (max-width: 991px) {
    .container {
        padding: 0;
    }

    .row {
        padding: 12px 0px;
    }

    .nav-toggler {
        display: flex;
        margin-right: 10px;
    }

    .justify-between {
        justify-content: end;
    }

    .header .nav {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #000;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0;
        visibility: hidden;
        padding: 0;
    }

    .header .nav ul li {
        display: block;
        margin: 0;
    }

    .header #nav-check:checked~.nav {
        opacity: 1;
        visibility: visible;
        z-index: 999999;
    }

    .header #nav-check:checked~.nav-toggler span {
        background-color: transparent;
    }

    .header #nav-check:checked~.nav-toggler span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .header #nav-check:checked~.nav-toggler span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .info {
        display: none;
    }

    .over-layout {
        display: none !important;
    }

    .container-service {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .box-service {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 50px 40px;
        margin: 0 20px;
        gap: 10px;
    }

    #slideshow {
        overflow: hidden;
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    .text-header-service {
        font-size: 20px;
        color: #41b3a3;
        font-weight: bold;
        letter-spacing: 4px;
    }

    .text-header-service-2 {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 4px;

    }

    .text-header-service-2 span {
        color: #5cdb95;
    }

    /* about us */
    .container-aboutus {
        flex-wrap: wrap;
        padding: 0 20px;
        padding-bottom: 20px;
    }

    .aboutus-detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .aboutus-images {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 400px;
    }


    /* features */
    .container-chooseus {
        flex-wrap: wrap;
        flex-flow: column-reverse;
        padding: 0px 20px;
    }

    .chooseus-image {
        width: 100%;
    }


    .chooseus-detail {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }


    /* staffs */
    .boxs-info-member {
        flex-wrap: wrap;
        padding: 0 40px;
    }

    .box-info {
        width: 100%;
        overflow: hidden;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-column span {
        text-align: center;
    }

    /* footer */
    .footer-container {
        flex-direction: column;
        gap: 40px;
    }

    .logo-footer {
        border: none;
    }

    .image-movement-1 {
        width: 35%;
        right: 200px;

    }

    .image-movement-2 {
        width: 35%;
    }
}

@media (max-width: 640px) {
    .image-movement-1 {
        width: 60%;
        right: 150px;

    }

    .image-movement-2 {
        width: 60%;
    }
    .aboutus-images{
        height: 400px;
    }
}